<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Subastas - IASC</title>

    <link href="<%= static_path(@conn, "/css/bootstrap.min.css") %>" rel="stylesheet">
    <link href="<%= static_path(@conn, "/css/heroic-features.css") %>" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container" role="main">
      <div class="header">

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/index.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/sockets.js") %>"></script>
    <script>require("web/static/js/app")</script>
    <script>
    $( document ).ready(function() {
       initialize();
    });
    </script>
  </body>
</html>
